<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<bean id="employee" class="com.capgemini.Employee" scope="prototype">
	<property name="employeeId" value="101"></property>
	<property name="employeeAge" value="56"></property>
	<property name="employeeSalary" value="45000"></property>
<property name="employeeName" value="Nishant"></property>
<property name="businessunit" value="PES-BU"></property>
	</bean>
	
	
</beans>